<html>
    <head>
        <title>The News!!!</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="flex-container">
            {% for site in pages %}
            <div class="linkList"><h2>{{site.page}}</h2>
                {% for i in range(no_of_articles) %}
                <a href={{site.links[i]}}><p>{{site.titles[i]}}</p></a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>